@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


.primary_text{
   


  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  
  
}

.primary_text1{
   


  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  
  
  
}


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');


.jost_sans {
  font-family: 'Jost', sans-serif;
}



